 /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 50px;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
*{ box-sizing: border-box;}
    body {
        background:radial-gradient(#f5f5f5, #fff) fixed;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-family: 'Domine', serif;
        font-family: 'ZCOOL XiaoWei', serif;
      
      }
      
      header {
          height: 75px;
          z-index: 2;
          background-color: #170a49;
          width: 100%;
          position: fixed;
          margin-top: -60px;
          
          
        }
        footer{
          z-index: 2;
          border: 1px solid black;
          background-color: #170a49;
          color: #f5f5f5;
          font-size: 30px;
          width: 100%;
          font-family: 'Great Vibes', cursive;
        }
        header ul {
          width: 1000px;
          margin: 0 auto;
        }
        header li {
          display: inline-block;
          float: right;
          margin-top: 40px;
          margin-right: 25px;
          font-size: 20px;
          color: #E1E9F4;
        }
        header li a {
          color: #E1E9F4;
          text-decoration: none;
          font-family: Raleway;
          font-weight: 400;
          transition: 350ms all;
        }
        header li a:hover {
          color: #779DC2;
        }
        header li:first-child {
          float: left;
          font-size: 40px;
          margin-top: 20px;
          font-family: Lobster;
        }
        .image{
          display: inline-block;
        }
        
        p {
            font-size: 40px;
            padding-top: 130px;}
       
        
        img{
          max-width: 250px;
          max-height: 250px;
          border: 10px solid  #170a49;
          border-radius: 5%;
          margin: 70px; 
          cursor: pointer;
          margin-top: 25px;
          margin-bottom: 25px;

        }

        